In [3]:
#6. Discuss the use cases of tuples and sets in python programming.
# Tuples
print("### Tuples ###")

# Storing a fixed collection of coordinates
point = (10, 20)
print("1. Coordinate point:", point)

# Tuple as a key in a dictionary
location_data = {
    (40.7128, -74.0060): "New York",
    (34.0522, -118.2437): "Los Angeles"
}
print("2. Location data:", location_data)

# Heterogeneous data in a tuple
person = ("John Doe", 30, ["Python", "Data Science"])
print("3. Person record:", person)

# Sets
print("\n### Sets ###")

# Storing unique elements
fruits = {"apple", "banana", "cherry", "apple"}
print("4. Unique fruits:", fruits)  

# Removing duplicates from a list
numbers = [1, 2, 2, 3, 4, 4, 5]
unique_numbers = set(numbers)
print("5. Unique numbers:", unique_numbers)

# Set operations
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
union_set = set1 | set2
intersection_set = set1 & set2
difference_set = set1 - set2
symmetric_difference_set = set1 ^ set2

print("6. Union of set1 and set2:", union_set)
print("7. Intersection of set1 and set2:", intersection_set)
print("8. Difference of set1 and set2:", difference_set)
print("9. Symmetric difference of set1 and set2:", symmetric_difference_set)

# Membership testing
print("10. Is 3 in set1?:", 3 in set1)

### Tuples ###
1. Coordinate point: (10, 20)
2. Location data: {(40.7128, -74.006): 'New York', (34.0522, -118.2437): 'Los Angeles'}
3. Person record: ('John Doe', 30, ['Python', 'Data Science'])

### Sets ###
4. Unique fruits: {'apple', 'banana', 'cherry'}
5. Unique numbers: {1, 2, 3, 4, 5}
6. Union of set1 and set2: {1, 2, 3, 4, 5, 6}
7. Intersection of set1 and set2: {3, 4}
8. Difference of set1 and set2: {1, 2}
9. Symmetric difference of set1 and set2: {1, 2, 5, 6}
10. Is 3 in set1?: True